body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scores {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.recent-scores div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.recent-scores div button {
  height: 50%;
}

.add-score {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

ul {
  list-style: none;
  padding-left: 0;
  border: 3px solid black;
}

#refresh-button {
  background-color: white;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
}

ul li:nth-child(odd) {
  background-color: rgb(188, 188, 194);
}

ul li:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

#submit-button {
  width: 35%;
  background-color: white;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  margin-left: auto;
}

#name,
#number {
  border: 2px solid #000;
}

h1 {
  margin-right: 20%;
}
